body {
    background: rgb(211, 204, 204);
}

header {
    background-color: rgb(63, 66, 68);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.input-section input{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px; 
    float: left;
    width: 65.5%;
    height: 50px;
    margin-top: 5px;
    margin-left: 1%;
    border-radius: 4px;
    border: 1px solid #ccc
}

.input-section button{
    
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 30%;
    height: 53px;
    font-size: 24px;  
    background-color: rgb(100, 100, 100);
    color: white;
    border: 0;
    border-radius: 4px;
    margin-left: 1.5%;
    margin-top: 5px;
    cursor: pointer;
}

.input-section button:hover{
    background-color: rgb(145, 145, 145) 
}

.input-section{
    background-color: rgb(190, 190, 190);
    height: 65px
}


.container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 300px);
    grid-gap: 2px;
}

.taskbtn {
    position: relative;
    width: 100%;
    height: 300px;
    border: none;
    cursor: pointer;
    text-align: center;

}

.taskbtn p{
    font-size: 3em;
    margin-top: 90px;
}

.taskbtn-overlay{
    display: grid;
    width: 100%;
    position: absolute;
    grid-template-columns: 50%, 50%;
    height: 80px;
    opacity: 0.3;
}

.overlay-button-delete {
    display: grid;
    grid-column: 1 / 2;
    width: 100%;
    border: 0;
    background: #75756f;
}

.overlay-button-mark {
    display: grid;
    grid-column: 2 / 3;
    width: 100%;
    border: 0;
    background: #75756f;
}









